.countly-label {
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 0;
    margin-top: 0;
    width: 250px;
}
.countlytracker-text{
    width: 325px;
}
.countlytracker-form-input {
    display: table;
    margin-bottom: 20px;
}
.countlytracker-checkbox{
    margin-bottom: -1px;
}
.sub-title{
    font-weight: 400;
}
.yoast-graphs.ct-desc{
    float: left;
    width: 80%;
}
.ct-group{
    margin-bottom: 30px;
}
.sub-title{
    padding-bottom: 15px; 
    border-bottom: 2px solid #111; 
    width: 65%;
}
.countly-label input[type="radio"] {
  margin-bottom: -3px;
}